# Node / Next.js
node_modules
.next
.out
npm-debug.log
.yarn
.pnp.*
dist
build
coverage

# VCS
.git
.gitignore

# OS / Editor
.DS_Store
*.swp
*.swo
.idea
.vscode

# CI
.github

# Env files
.env
.env.*
!.env.example
